@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">

    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h2 style="color: #4db7b7"class="section-title">About Us</h2>
                    <h3 style="color: #4db7b7" class="section-subtitle">Get to Know Our Story</h3>
                    <div class="section-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu felis eleifend, vestibulum urna non, rhoncus nulla. Cras elementum turpis vitae aliquet fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec vel lacus non turpis suscipit tempus. Duis luctus tellus mi, auctor convallis enim posuere ac. Morbi vitae faucibus eros.</p>

                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam volutpat bibendum nisi, eu laoreet justo scelerisque at. Vivamus malesuada gravida lorem, non dignissim massa ullamcorper sed. Sed aliquet, justo sed convallis finibus, tortor mauris convallis massa, id facilisis nunc velit et urna. Maecenas id ultrices lacus. Sed tristique elit id lectus elementum cursus.</p>

                        <p>Fusce ut fermentum elit. Sed eleifend, mauris at tristique euismod, mi arcu fermentum nunc, in fermentum odio ex nec justo. Mauris ac lacus vel arcu congue lobortis. Suspendisse potenti. Duis vel consequat ipsum. Donec varius lorem non ultrices consequat. Mauris ac quam nisl.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>
